{% extends 'nav.html'%}

{% block content %}

<h2>This is about us </h2>
    <div class="post-content">
      <p>Welcome to Hacker4society, a unique blog here for you to explore. Hacker4society has added such value to my life, and I love having the opportunity to share my passions and thoughts with my loyal readers. Read on, and enjoy.</p>
<h3 id="more-information">More Information</h3>
<p>Hacker4Society was started by in the year  2018  with a vision to be like a hacker.</p>

<p>This Site is only for Guides to people about Technology Education, Hacker News, Tutorials, Daily Tips and Hacks not to violate anyone’s rights. We Hope that You will Get Useful Tech/Hacking News and Information and Helpful Tricks &amp; Hacks.</p>

<p><a href="mailto:rajeshk.singhsds_cse17@its.edu.in">rajeshk.singhsds_cse17@its.edu.in</a></p>

<p><em>Thank You for reading!</em></p>

    </div><!-- .post-content -->
  </article><!-- .post -->
</main><!-- .site-main -->
      <footer class="site-footer",align="center">
  <div class="offsite-links">
    
      
<a href="https://twitter.com/" target="_blank" rel="noopener">
  <span class="fa-twitter" aria-hidden="true"></span>
  <span class="screen-reader-text">Twitter</span>
</a>

<a href="https://facebook.com/profile.php?id=100023600470956" target="_blank" rel="noopener">
  <span class="fa-facebook" aria-hidden="true"></span>
  <span class="screen-reader-text">Facebook</span>
</a>

<a href="https://github.com/Rajeshsinghcse" target="_blank" rel="noopener">
  <span class="fa-github" aria-hidden="true"></span>
  <span class="screen-reader-text">GitHub</span>
</a>

<a href="https://instagram.com/rajeshcse1721/" target="_blank" rel="noopener">
  <span class="fa-instagram" aria-hidden="true"></span>
  <span class="screen-reader-text">Instagram</span>
</a>

<a href="https://linkedin.com/in/rajesh-singh-824a54118" target="_blank" rel="noopener">
  <span class="fa-linkedin" aria-hidden="true"></span>
  <span class="screen-reader-text">LinkedIn</span>
</a>

<a href="mailto:hacker4society@gmail.com" target="_blank" rel="noopener">
  <span class="fa-envelope" aria-hidden="true"></span>
  <span class="screen-reader-text">E-mail</span>
</a>

    
  </div>

{% endblock %}