{% extends 'nav.html'%}

{% block content %}
<div class="post-content">
      <h4 id="if-you-have-any-info-and-difficulty-on-any-topic-or-doubt-in-mind-just-feel-free-to-contact">If you have any info and difficulty on any topic or doubt in mind. Just Feel Free to Contact</h4>
<h4 id="rajesh-kumar-singh-">Rajesh kumar singh <br /></h4>
<p><a href="mailto:hacker4society@gmail.com">E-mail</a></p>

<!-- www.123formbuilder.com script begins here -->
<script type="text/javascript" defer="" src="//www.123formbuilder.com/embed/5435865.js" data-role="form" data-default-width="650px"></script>

<!-- www.123formbuilder.com script ends here -->

    </div><!-- .post-content -->
  </article><!-- .post -->
</main><!-- .site-main -->
      <footer class="site-footer",align="center">
  <div class="offsite-links">
    
      
<a href="https://twitter.com/" target="_blank" rel="noopener">
  <span class="fa-twitter" aria-hidden="true"></span>
  <span class="screen-reader-text">Twitter</span>
</a>

<a href="https://facebook.com/profile.php?id=100023600470956" target="_blank" rel="noopener">
  <span class="fa-facebook" aria-hidden="true"></span>
  <span class="screen-reader-text">Facebook</span>
</a>

<a href="https://github.com/Rajeshsinghcse" target="_blank" rel="noopener">
  <span class="fa-github" aria-hidden="true"></span>
  <span class="screen-reader-text">GitHub</span>
</a>

<a href="https://instagram.com/rajeshcse1721/" target="_blank" rel="noopener">
  <span class="fa-instagram" aria-hidden="true"></span>
  <span class="screen-reader-text">Instagram</span>
</a>

<a href="https://linkedin.com/in/rajesh-singh-824a54118" target="_blank" rel="noopener">
  <span class="fa-linkedin" aria-hidden="true"></span>
  <span class="screen-reader-text">LinkedIn</span>
</a>

<a href="mailto:hacker4society@gmail.com" target="_blank" rel="noopener">
  <span class="fa-envelope" aria-hidden="true"></span>
  <span class="screen-reader-text">E-mail</span>
</a>

    
  </div>

{% endblock  %}