{% extends 'nav.html'%}

{% block content %}
 <article class="post">
    <header class="post-header">
      <time class="post-date" datetime="2020-05-11">May 11, 2020</time>
      <h2 class="post-title"><a href="/test-for-markdown" rel="bookmark">Test For Markdown</a></h2>
      <div class="post-meta">
        By <span class="post-author">Rajesh Singh</span><span
          class="post-tags"> in
          <a href="/tags/#General" rel="tag">General</a></span>
      </div><!-- .post-meta -->
      
    </header><!-- .post-header -->
    <div class="post-content">
      
      <h4 id="this-is-test-file">this is test file</h4>
<script src="https://gist.github.com/Rajeshsinghcse/e6c7d772539eee93a396edd0d2cefc21.js"></script>


      
    </div><!-- .post-content -->
  </article><!-- .post -->
  
  <article class="post">
    <header class="post-header">
      <time class="post-date" datetime="2020-05-04">May 4, 2020</time>
      <h2 class="post-title"><a href="/Final-Project-Word-Cloud-in-Python" rel="bookmark">Final project   word cloud In Python</a></h2>
      <div class="post-meta">
        By <span class="post-author">Rajesh Singh</span><span
          class="post-tags"> in
          <a href="/tags/#Programming" rel="tag">Programming</a>, <a href="/tags/#codding" rel="tag">codding</a>, <a href="/tags/#Coursera" rel="tag">Coursera</a></span>
      </div><!-- .post-meta -->
      

      
    </header><!-- .post-header -->
    <div class="post-content">
      
      <p>For this project, you’ll create a “word cloud” from a text by writing a script.  This script needs to process the text, remove punctuation, ignore case and words that do not contain all alphabets, count the frequencies, and ignore uninteresting or irrelevant words.  A dictionary is the output of the <code class="language-plaintext highlighter-rouge">calculate_frequencies</code> function.  The <code class="language-plaintext highlighter-rouge">wordcloud</code> module will then generate the image from your dictionary.</p>


      <p class="read-more"><a href="/Final-Project-Word-Cloud-in-Python" class="read-more-link">Continue reading &rarr;</a>
      </p>
      
    </div><!-- .post-content -->
  </article><!-- .post -->
  
  <article class="post">
    <header class="post-header">
      <time class="post-date" datetime="2020-05-03">May 3, 2020</time>
      <h2 class="post-title"><a href="/Python-practise-2" rel="bookmark">Python Practise 2</a></h2>
      <div class="post-meta">
        By <span class="post-author">Rajesh Singh</span><span
          class="post-tags"> in
          <a href="/tags/#Programming" rel="tag">Programming</a></span>
      </div><!-- .post-meta -->
      
    </header><!-- .post-header -->
    <div class="post-content">
      
      <h3 id="1fill-in-the-blanks-of-this-code-to-print-out-the-numbers-1-through-7">1.Fill in the blanks of this code to print out the numbers 1 through 7.</h3>
<pre><code class="language-Python3">number = 1
while number &lt;=7:
 print(number, end=" ")
 number+=1
</code></pre>
<h4 id="answer-1-2-3-4-5-6-7">Answer: 1 2 3 4 5 6 7</h4>

<h3 id="2the-show_letters-function-should-print-out-each-letter-of-a-word-on-a-separate-line-fill-in-the-blanks-to-make-that-happen">2.The show_letters function should print out each letter of a word on a separate line. Fill in the blanks to make that happen.</h3>
<pre><code class="language-Python3">def show_letters(word):
 for letters in word:
 print(letters)
show_letters("Hello")
# Should print one line per letter
</code></pre>
<h4 id="answer">Answer:</h4>
<h4 id="h">H</h4>
<h4 id="e">e</h4>
<h4 id="l">l</h4>
<h4 id="l-1">l</h4>
<h4 id="o">o</h4>


      <p class="read-more"><a href="/Python-practise-2" class="read-more-link">Continue reading &rarr;</a>
      </p>
      
    </div><!-- .post-content -->
  </article><!-- .post -->
  

  
  <nav class="pagination">
    <h2 class="screen-reader-text">Posts navigation</h2>
    <div class="nav-links">
      
      <span class="page-number">Page 1 of 3</span>
      
      <a href="/page2/" class="older-posts">Older Posts &rarr;</a>
      
    </div>
  </nav><!-- .pagination -->
  

</main><!-- .site-main -->
      <footer class="site-footer" align="center">
  <div class="offsite-links">
    
      
<a href="https://twitter.com/" target="_blank" rel="noopener">
  <span class="fa-twitter" aria-hidden="true"></span>
  <span class="screen-reader-text">Twitter</span>
</a>

<a href="https://facebook.com/profile.php?id=100023600470956" target="_blank" rel="noopener">
  <span class="fa-facebook" aria-hidden="true"></span>
  <span class="screen-reader-text">Facebook</span>
</a>

<a href="https://github.com/Rajeshsinghcse" target="_blank" rel="noopener">
  <span class="fa-github" aria-hidden="true"></span>
  <span class="screen-reader-text">GitHub</span>
</a>

<a href="https://instagram.com/rajeshcse1721/" target="_blank" rel="noopener">
  <span class="fa-instagram" aria-hidden="true"></span>
  <span class="screen-reader-text">Instagram</span>
</a>

<a href="https://linkedin.com/in/rajesh-singh-824a54118" target="_blank" rel="noopener">
  <span class="fa-linkedin" aria-hidden="true"></span>
  <span class="screen-reader-text">LinkedIn</span>
</a>

<a href="mailto:hacker4society@gmail.com" target="_blank" rel="noopener">
  <span class="fa-envelope" aria-hidden="true"></span>
  <span class="screen-reader-text">E-mail</span>
</a>

    
  </div>

{% endblock %}